/**
 * FICHIER DE STYLE GENERAL CSS
 *
 * Projet: Technology Based Magic 
 * Projet Professionel
 * 
 * SOMMAIRE
 * 
 * 
 * 
 * ========================================================================= */

/** 
 * RESET 
 * ========================================================================= */

/** 
 * Evite les box plus grandes que le parents lorsque l'enfant à du 
 * padding, border etc..
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/** 
 * Enlève les marges par default les décorations et styles imposés
 */

* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/** 
 * Evite le pb de size, 
 * Il est possible d'utiliser les vh mais elles ne sont pas encore au points 
 * pour les ecrans mobiles 
 */

html,
body {
  height: 100%;
}

/**
*Qu'est-ce que les WCAG ? 
*Les directives d'accessibilité du contenu Web 
*(WCAG ou Web Content Accessibility Guidelines en anglais) 
*sont un ensemble de normes pour rendre le contenu web
*Ici on a augmenté l'interlignage verticale pour les dislexiques
*avec une fonctiin calque
*/

* {
  line-height: calc(1em + 0.5rem);
}

/** 
 * Empeche les image d'être plus grandes que leur boxs
 */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/** 
 * Met le style du parents sur les éléments des formulaires
 */
input,
button,
textarea,
select {
  font: inherit;
}

/** 
 * Empêche le texte de depasser de sa box et rajoute automatiquement les traits d'union
 */
p {
  overflow-wrap: break-word;
  hyphens: auto;
}


/** 
* ROOT
* ========================================================================= */

:root {
    --main-gold: #bc9b67;
    --main-dark-blue: #111f32;
    --main-blue: #149ad7;
    /* --body-fonts: "Helvetica", "Arial", sans-serif; */
    
}

/** 
* FONTS
* ========================================================================= */

@font-face {
    font-family: "Avenir Book"; ;
    src: url(assets/fonts/Avenir-Book.otf), format("opentype"); /* IE6-IE8 */ 
    src: url(assets/fonts/Avenir-Book.svg), format("svg");
    src: url(assets/fonts/Avenir-Book.ttf), format("truetype");/* Safari, Android, iOS */
    src: url(assets/fonts/Avenir-Book.woff), format("woff");/* Navigateurs récents */ 
    
    
}



/** 
 * NAVBAR
 * ========================================================================= */

.topnav {
overflow: hidden;
font-family: "Avenir-Book";
}

.topnav a {
float: left;
text-align: center;
padding: 14px 14px;
text-decoration: none;
display: block;
color:var(--main-gold);
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

.topnav a:hover {
color: var(--main-blue);
/* : 0 0 5px var(--main-blue), 0 0 25px var(--main-blue), 0 0 50px var(--main-blue),
    0 0 100px var(--main-blue); */
}

.active{
    color: var(--main-blue) !important;
}

.active:hover{
    color: var(--main-gold) !important;
    transition: all 0.3s ease-in-out !important;
}

.topnav a.active {
padding: 14px 14px;
background-color: var(--main-dark-blue);
padding: 14px 14px;
color: var(--main-gold);
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/** 
 * FORMULAIRE
 * ========================================================================= */


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */
  background-color: var(--main-dark-blue);
}



.form_box{
  font-family: "Avenir-Book";
 
  width: 400px;
  padding: 40px;
  background: rgba(17, 31, 50, 0.932);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

@media screen and (max-width: 800px) {

    .form_box{
        font-family: "Avenir-Book";
        width: 300px;
        padding: 40px;
        margin-bottom: 10px;
        background: rgba(17, 31, 50, 0.932);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 8px;
      }

}

.form_box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--main-gold);
  text-align: center;
}

.form_box .user-box {
  position: relative;
}

.form_box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent;
}

.form_box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  pointer-events: none;
  transition: 0.5s;
}

.form_box .user-box input:focus ~ label,
.form_box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--main-blue);
  font-size: 12px;
}

.btn_submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-dark-blue);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.form_box .btn_submit:hover {
  background: var(--main-blue);
  color: var(--main-dark-blue);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px var(--main-blue), 0 0 25px var(--main-blue), 0 0 50px var(--main-blue),
    0 0 100px var(--main-blue);
}

/** 
 * FOOTER
 ========================================================================= */

.footer-distributed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--main-dark-blue);
    color: var(--main-gold);
}
.footer-distributed span {
    color: var(--main-blue);
}

.footer-distributed a, i{
    color: var(--main-blue);
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-right .footer-icons a {
   padding: 14px 14px;
    /* width: 30%; */
}
/* .footer-left {
    display: flex;
} */

@media screen and (max-width: 600px) {

    .footer-distributed{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .footer-distributed i{
        display: none;
    }
    .active {
        color: var(--main-gold)!important;
    }
    .footer-center{
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: space-evenly;
	    align-items: center;
	    align-content: space-between;
    }

    .footer-left{
        display: none;
    }
    .footer-right{
        display: flex;
        flex-direction: row;
    }

}
/** 
 * ASIDE
 ========================================================================= */
aside{
    height: 100vh;
    max-width: 25%;
    overflow:scroll;
    flex-grow: 1;
    font-family: "Avenir-Book";
    /* z-index: 1; */
    /* position:fixed; */
}
.form-new-body .btn-input {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
  
}

.form-new-head .btn-input{
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--main-blue);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: 1px solid #149ad7;
}


.first img{
    height: 160px;
}

.first .btn-input{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
}

#container-filter-robots img{
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/** 
 * MODALE
 ========================================================================= */

 .modal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 90vh;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {

    .modal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

}

/** 
 * ADMIN et ADMIN PRODUITS
 ========================================================================= */



.new-robot-section, .color-material{
   
    padding: 40px;
    color: var(--main-gold);
   

}
.color-material input{
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent;
}

.color-material button{
    color: var(--main-blue);
    background: transparent;
    outline: none;
    border: none;
}

.color-material .btn-input {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
}

.btn-input:hover{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-gold);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
}

.color-material select{
    padding-left: 14px;
    background: transparent;
    color: var(--main-blue);
    outline: none;
    border: none;
}

.miniature{
    font-size: 16px;
    color: var(--main-gold);
    margin-bottom: 30px;
    border: 1px solid var(--main-blue);
    outline: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
    overflow: scroll;
    flex-grow: 1;
    max-width: 407px;
    max-height: 400px;
    margin: 10px;
    align-items: flex-start;
    justify-content: center;
}

fieldset button {
    background-color: transparent;
    border: none;
    
}

.container-delete-body fieldset, .container-delete-head fieldset{
    border-style: none;
}



.container-delete-head img{
    justify-content: center;
}

.filter-color:hover{
    cursor: pointer;
    color: var(--main-gold);
    transition: 0.5s;

}

.filter-mat:hover{
    cursor: pointer;
    color: var(--main-gold);
    transition: 0.5s;
}

.container-delete-body input{
    padding: 10px 0;
    font-size: 16px;
    color: var(--main-gold);
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
}


.new-robot-section input{
    color: var(--main-gold);
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent;
}

.new-robot-section button{
    color: var(--main-blue);
    background: transparent;
    outline: none;
    border: none;
}

.new-robot-section select{
    padding-left: 14px;
    background: transparent;
    color: var(--main-blue);
    outline: none;
    border: none;
}



.first{
    margin-bottom: 20px;
    /* width: 100%!important; */
}



.display-robot{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-blue);
    font-weight: lighter;
    padding: 10px;
  
}
.visu-robot{

    height: 100%;
    /* width: 100%; */
    background-color: antiquewhite;
}
.bottom-robot{

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.block-central {
    /* background-color: green; */
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: space-around;
}

.main-robot{
    display: flex;
    /* max-height: 80vh; */
    flex-direction: column;
    padding-top: 3%;
    max-height: fit-content;
}

.flex-central {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-between;
}

.block-aside-robot{
    display: flex;
    flex-direction: row;
   
}

.display-robot img{
    height: 50px;
}

.display-robot b{
    font-weight: lighter;
}

.display-robot-head{
    height: 50px !important;
}


.main-admin-article input{
    color: var(--main-gold);
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent;
}

#button-delete, #delete-mat{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .flex-central {
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: space-between;
        overflow: scroll;
        flex-grow: 1;
    }

    .block-aside-robot {
        display: flex;
        flex-direction: column-reverse;
    }

    aside {
        height: 100vh;
        max-width: 100%;
        overflow: scroll;
        flex-grow: 1;
        font-family: "Avenir-Book";
        /* z-index: 1; */
        /* position: fixed; */
    }

    .miniature{
        max-width: 407px;
        max-height: 400px;
        margin: 10px;
        align-content: space-evenly;
    }

    .new-robot-section{
        border-top: 3px dotted #149ad7;
    }
}
/** 
 * ADMIN ARTICLE
 ========================================================================= */
 @media screen and (max-width: 800px) {

    .main-admin-article {
        display: flex;
        flex-direction: column!important;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-end;
    }

    .modal-admin{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start ;
        align-items: center;
        align-content: stretch;
        height: 90vh;
        justify-content: space-around;
    }
    
    .main-admin-article article {
        overflow:scroll;
        flex-grow: 1;
        /* margin-bottom: 20px; */
    }

   
}
 .modal-admin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start !important;
    align-items: center;
    align-content: stretch;
    height: 90vh;
    justify-content: space-around;
 }

 .modal-admin input{
    color: var(--main-gold);
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent
 }

.modal-admin button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    /* background: transparent */
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
}

.modal-admin .user-box #file-upload-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    /* background: transparent */
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
}

.main-admin-article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form_box th{
    color: var(--main-gold);
    width: 100%;
  padding: 40px;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
}


.form_box tr:nth-child(even){
    color: var(--main-blue);
    
}

.form_box tr:nth-child(odd){
    color: var(--main-gold);
}

.modal-admin .form_box{
    overflow:scroll;
    flex-grow: 1;
    max-height: 100vh;
}
.update-article{
   
    margin-top:25px;
}



/** 
 * ADMIN USER
 ========================================================================= */

 @media screen and (max-width: 800px) {

    .main-admin-user {
        display: flex;
        flex-direction: column !important;
        justify-content: space-evenly;
        align-items: center;
    }

    .table{
       
        overflow: scroll;
        flex-grow: 1;
        display: flex;
        /* width: auto; */
        height: 30vh!important;
    
    }
}

.main-admin-user h2{
    padding: 20px;
    color: var(--main-gold);
}

.table input{
  color: var(--main-gold);
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-gold);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-gold);
  outline: none;
  background: transparent
 }

.text-scroll{
    overflow: auto;
    flex-grow: 1;
    

}

.scroll{
    overflow: scroll;
    /* flex-grow: 1; */
    max-height: 100px;
}


table.form_box.table{
  
    height: 50px;
    overflow-x:auto;
}

 .table a{
    float: left;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    display: block;
    color:var(--main-gold);
 }

.form-update button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    background: transparent;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
 }



.form-update button:hover{
    background: var(--main-blue);
    color: var(--main-dark-blue);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px var(--main-blue), 0 0 25px var(--main-blue), 0 0 50px var(--main-blue),
      0 0 100px var(--main-blue);
 }

.form-update a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    background: transparent;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
 }

.form-update a:hover{
    background: var(--main-blue);
    color: var(--main-dark-blue);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px var(--main-blue), 0 0 25px var(--main-blue), 0 0 50px var(--main-blue),
      0 0 100px var(--main-blue);
 }

 .main-admin-user{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

.gestionnaire a{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: var(--main-blue);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    background: transparent;
    letter-spacing: 4px;
    border: 1px solid #149ad7;
    justify-content: center;
}
/** 
 * GALERIE
 ========================================================================= */

.main-galerie{
     height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
 }
 @media screen and (max-width: 800px) {

    .main-galerie {
        height: 80vh;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .img-galerie {
        width: 150px !important;
        height: 150px !important;
        object-fit: cover;
    }
}

.desc {
    padding: 15px;
    text-align: center;
} 

.img-galerie {
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}
  
.img-galerie:hover {opacity: 0.7;}

.img-galerie{
    color: var(--main-gold);
    object-fit: contain; 

    
}


.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    /* color: #ccc; */
    padding: 10px 0;
    height: 150px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}


.img-display{
  object-fit: contain;  
}


.img-galerie {
    width:  300px;
    height: 300px;
    object-fit: cover;
}

/** 
 * ARTICLE
 ========================================================================= */


/* Default banner */
.banner {
    position: relative;
    width: 60%;
    height: 40rem;
    padding: 0 5%;
    overflow: hidden;
    backface-visibility: hidden;
  }
  
  /* Default image container */
  .banner .background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.25);
    background:  no-repeat center center; 
    background-size: cover;
  }

.banner{
    padding-top: 40px;
    border-radius: 8px;

}


  
  .loaded .banner .background {
    transform: scale(1);
    transition: 6.5s transform;
  }
  
  .banner h1 {
    color: #EEE;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 0 .3rem black;
  }
  
  
.main-article { 
    /* padding-top: 0.5rem; */
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-evenly; 


  }


@media screen and (max-width: 800px) {

    .main-article {
        width: 90%;
        margin: 5rem auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .banner {
    
        position: relative;
        height: 300px;
        width: 100%;
        padding: 0 5%;
        overflow: hidden;
        backface-visibility: hidden;
    }
    
}
  
.article-solo p { 
    /* margin: 0 0 3rem 3rem;  */
    color: var(--main-blue);
    font-size: 1rem;
    
}





