body{
  size: 100vh;
  background-color: #111f32;
  color: #DDD;
}

tr, th{
  color: #DDD;
}
b, label{
  color: #bc9b67;
}
#box-robots-filter {
  padding: 12px 16px;
}

#container-filter-robots{
    margin-top: 20px;
  }

.filter-color,
.filter-mat {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: blue;
    cursor: pointer;
}

.filter-color,
.filter-mat {
  background-color: #ddd;
}

.display-robot-head, .display-robot-body{
  max-width: 100px;
  max-height: 100px;
}

a{
  text-decoration: none;

}
.link-to{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.display-robot{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-robot{
  color: red;
}

#box-robots-filter{
  max-width: 100px;
  max-height: 100px;
}

.container-new-robot{
  display: flex;
  align-items: center;
  margin-top: 200px;
  flex-direction: column;
}

.btn-primary{
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

#divParent{
  padding-top: 20px;
  margin: 20px;
}

.form-new-head, .form-new-body, .container-delete-head, .container-delete-body{
  display: flex;
  justify-content: center;
  margin: 20px;
  
}