/* body{
  size: 100vh;
} */

#box-robots-filter {
  height: 25%;
  width: 35%;
  padding: 12px 16px;
}

#container-filter-robots{
    margin-top: 20px;
  }

.filter-color,
.filter-mat {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: blue;
    cursor: pointer;
}

.filter-color,
.filter-mat {
  background-color: #ddd;
}

.display-robot-head, .display-robot-body{
  max-width: 100px;
  max-height: 100px;
}

a{
  text-decoration: none;

}
.link-to{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}