.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(20, 154, 215);
}

.robot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head img {
  max-width: 200px;
  max-height: 200px;
  object-fit: fill;
  background-color: transparent;
}

.body img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  background-color: transparent;
}

.container-quotes {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #111f32;
}

/* .screen-shot-devis{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* button{
    display: flex;
    justify-content: center;
} */

.button-container {
  display: flex;
  justify-content: center;
}
