.client {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.robot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head img {
  max-width: 200px;
  max-height: 200px;
  object-fit: fill;
  background-color: red;
}

.body img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  background-color: red;
}

.container-quotes{
    display: flex;
    align-items: center;
}

/* .screen-shot-devis{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* button{
    display: flex;
    justify-content: center;
} */
