<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <nav>
            <div class="topnav" id="myTopnav">
              <ul id="myLinks">
                  <a href="" class="active">About</a>
                  <a href="#portfolio">Portfolio</a>
                  <a href="https://www.linkedin.com/in/laura-scognamiglio-devweb/"
                  class="link"
                  target="_blank">Linkedin</a>

                  <a href="mailto: laura.scognamiglio@laplateforme.io"
                  subject="Feedback"
                  class="link"
                  target="_blank">Contact</a>
    
                  <a href="https://github.com/laura-scognamiglio" target="_blank">Git</a>
    
                  <a href="https://drive.google.com/file/d/1rLCM4LceJfBb6EKWfTxBMU9Ivz5t4AlW/view?usp=sharing" target="_blank">Cv</a>
              </ul>
              <a 
                class="icon" >
                <i class="fa fa-bars"></i>
              </a>
          </div>
        </nav>
    
    </header>
</body>
</html>
    