/* 
1-2 Nav
*/
/* 
:root {
  --main-gold: #bc9b67;
  --main-dark-blue: #111f32;
  --main-blue: #149ad7;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
 */


/* 
1-3 Footer
*/

